.first-cont{
    background-color: #1F2937;
    height: 700px;
    width: 100%;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.header{
    display: flex;
    height: 100px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


#container-right{
    display: flex;
    justify-content: left;
    gap: 100px;
    width: 650px;
    font-size: 18px;
}

#container-left{
    display: flex;
    justify-content: center;
    width: 600px;
    font-size: 32px;
    font-weight: bold;
}

#container-right > div, #container-left > div{
    cursor: pointer;
}

.Main{
    display: flex;
    justify-content: space-evenly;
    flex: auto;
}

#Left{
    display: flex;
    width: 50%;

}

#Right{
    display: flex;
    width: 50%;

}